In [1]:
from annotator import Annotator
from individual_text_metrics import Label_Metrics
import graphs as gr
import pandas as pd

annotator1 = Annotator('annotator1', "annotations-TBikaun.json")
annotator2 = Annotator('annotator2', "annotations-ziyu.zhao.json")
annotator3 = Annotator('annotator3', "annotations-danielsantosa.json")
annotator4 = Annotator('annotator4', "annotations-mhodki.json")
annotator5 = Annotator('annotator5', "annotations-mstewartuwa.json")
annotator6 = Annotator('annotator6', "annotations-caitlinwoods.json")
annotator7 = Annotator('annotator7', "annotations-Tim.json")
label = Label_Metrics(annotator1, annotator2, annotator3)

In [2]:
pd.set_option('display.max_rows', None)
annotated_df = label.get_all_annotators_tokens_labels_all_docs()

In [3]:
table = label.create_individual_text_metrics_table(annotated_df)
table.head(30)

          token  percent_agreement
0             "           0.000000
1             #           0.000000
2             &           0.000000
3          &air           0.000000
4             -           0.000000
5             .           0.000000
6             /           0.000000
7       /modify          66.666667
8    /refurbish          66.666667
9             1           0.000000
10            3          66.666667
11            5           0.000000
12            9          66.666667
13            ?           0.000000
14            @           0.000000
15      ITEM_ID           0.000000
16           NA           0.000000
17            [           0.000000
18       access          66.666667
19  access step         100.000000
20    accessory         100.000000
21  accumulator          66.666667
22       adjust         100.000000
23     air tank         100.000000
24          and           0.000000
25           as           0.000000
26           at         100.000000
27      at rear         100.000000
28          aux          66.666667
29     auxilary         100.000000

In [4]:
text_metrics = label.create_agreement_summary(table)
text_metrics.head(10)

,lowest agreement,medium low agreement,medium agreement,medium high agreement,high agreement
0,"""",,,/modify,access step
1,#,,,/refurbish,accessory
2,&,,,3,adjust
3,&air,,,9,air tank
4,-,,,access,at
5,.,,,accumulator,at rear
6,/,,,aux,auxilary
7,1,,,before,between
8,5,,,bent,bull hose
9,?,,,block,button

In [ ]:
low_agreement_list = text_metrics['lowest agreement'].tolist()
print(low_agreement_list)